@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans');

body{
	color: #566b78; /*softer gray*/
	background: #f5f7f9; /*softer white*/
	font-family: 'Josefin Sans',sans-serif;
	
	position: center;

	margin: auto;
	width: 75%;
	padding: 10px;

}

h1{
	color: maroon;
	font-family: 'Amatic SC',sans-serif;
	font-size: 70px;
}

h2{
	color: #560000; /*dark red*/
	font-family: 'Amatic SC',sans-serif;
	font-size: 40px;
}

h3{
	color: #560000; /*dark red*/
	font-family: 'Amatic SC',sans-serif;
	font-size: 30px;
}

.jumbotron{
}

.title{
	color: #333333; /*grey*/
	font-family: 'Josefin Sans',sans-serif;
	font-size: 20px;	
}

.section{
}

/* navbar section */

#navbar{
	list-style-type: none;

	overflow: hidden;
	color: #566b78;	/*softer grey*/
	background-color: #a1874e; /*gold*/

	/*position: fixed;
	z-index: 1;*/
}

.navbarel{
	float: left;
}

.navbarel a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* change the link color to #877140 (dark gold) on hover */
.navbarel a:hover {
	background-color: #877140;
}

/* set the link to maroon when active */
.navbaract {
	background-color: maroon;
}

.carousel {
  	height: 500px;
}

.carousel-item {
	padding: 10%;
	height: 500px !important;
}

/* image section */

#holistic {
	margin: 0 auto !important;
	display: block !important;

	background-color: maroon;
	color: #f5f7f9;
	padding: 20px;
}

#logo{
	float:left;
	width:150px;
	height:150px;
	margin-right:40px;
}

#proj1{
	background-image: url("images/audreyPortfolio.png");
	opacity: 0.8;
}

.projtext{
	background: rgba(255,255,255,0.5);
	padding: 20px;
}

#proj2{
	background-image: url("images/matchrest.png");
	opacity: 0.8;
}

#proj3{
	background-image: url("images/horizonsPull.png");
	opacity: 0.8;
}

#proj4{
	background-image: url("images/unity.png");
	opacity: 0.8;
}

/* buttons */
.btn-primary{
	background-color: maroon;
	position: center;
	
	margin: auto;
	width: 50%;
	padding: 10px;

}